!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title DoorWatcher
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %link{rel: "stylesheet", type: "text/css", href: "css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "css/font-awesome.min.css"}
    %link{rel: "stylesheet", href: "css/main.css"}
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              / %h3.masthead-brand DoorWatcher
              / %ul.nav.masthead-nav
              /   %li.active
              /     %a{href: "#"} Home
              /   %li
              /     %a{href: "#"} Features
              /   %li
              /     %a{href: "#"} Contact
          = yield
          .mastfoot
            .inner
              %p
                &copy; 2014 CirrusMio
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "js/bootstrap.min.js"}
